:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --heading: 48px;
    --heading-mid: 36px;
    --text-body: 21px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Marcellus', serif;
}

body {
    overflow-x: hidden;
}

/* ------------------ Top Header CSS ------------------ */

.font-body {
    font-size: var(--text-body);
}

.head-font {
    font-family: "Playfair Display", serif;
}
.font-med {
    font-size: var(--heading-mid);
}

.top-div {
    height: 50vh;
    max-height: 700px;
    background-color: #d2ff73;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.top-div-wrapper {
    position: relative;
    height: fit-content;
    width: 80%;
}

.top-div h1 {
    font-size: var(--heading);
    font-weight: bold;
    margin-bottom: 1rem;
}


/* ------------------------------------ */

/* ------------------ Body-Content ------------------ */

.line-heading {
    position: relative;
    /* width: clamp(230px, 50%, 500px); */
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.line-heading h2 {
    font-size: var(--heading-mid);
    font-family: 'Marcellus', serif;
    font-weight: bold;
    text-align: center;
    color: #4F4F4F;
}
div.underline {
    height: 4px;
    width: 50%;
    margin: auto;
    background-color: #4F4F4F;
    margin-top: 1rem;
}

/* .underline::before {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    position: absolute;
    left: -3%;

    transform: rotate(45deg) translateY(-50%);
}
.underline::after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background-color: black;
    position: absolute;
    right: 0rem;

    transform: rotate(45deg) translateY(-50%);
} */


div.myCard {
    position: relative;
    height: 30rem;
    border-radius: 5px;
    margin-bottom: 2.5rem;
}
.myCard-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    font-size: var(--text-body);
    text-align: center;
    font-weight: bold;
    color: #4F4F4F;
}

.myCard-step {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #4F4F4F;
    font-size: 2rem;
    font-weight: bold;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}



.col:nth-child(1) .myCard{
    background-color: #DFFFC6;
    border: 2px solid #CDFFA6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.col:nth-child(1) .myCard-step{
    background-color: #CDFFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.col:nth-child(2) .myCard{
    background-color: #EBDBFF;
    border: 2px solid #d0b2f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.col:nth-child(2) .myCard-step{
    background-color: #d0b2f8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.col:nth-child(3) .myCard{
    background-color: #D3F7FF;
    border: 2px solid #9DEDFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.col:nth-child(3) .myCard-step{
    background-color: #9DEDFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


.forn-wrapper {
    background-color: #E1EFFF;
    padding: 5rem;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}
input{
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #0080ff;
    border-bottom: 2px solid #68AFFF;
}

.button {
    display: block;
    margin: auto;
    width: 30%;
    height: 3.5rem;
    border: none;
    background: #3694FF;
    color: white;   
    font-weight: bold;
    margin-top: 5rem;
    border-radius: 5px;
    
}


@media only screen and (max-width: 600px) {
    :root {
        --heading: 36px;
        --heading-mid: 24px;
        --text-body: 18px;
    }

    .top-div-wrapper {
        height: fit-content;
        width: 95%;
    }
    div.underline {
        height: 2px;
    }
    .forn-wrapper{
        padding: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100%;
    }
    input {
        width: 100%;
    }
    .button {
        width: 100%;
    }
}
